{% extends 'base.html' %}

{% block content %}

<div class="row">

    <!--Left Sidebar-->

    {% include 'dashboard/sidebar.html' %}

    <!--Right Sidebar-->

    <div class="col-md-9">
        <h2>Edit Category</h2>
        <br>

        <form action="{% url 'edit_category' category.pk %}" method="POST" style="width: 500px;">
            {% csrf_token %}
            <div class="form-group">
                <span style="display: flex;">
                    <input type="text" name="category_name" class="form-control" placeholder="Edit Category" value="{{ category.category_name }}">
                    <button type="submit" class="btn btn-warning" style="width: 200px;">Update</button>
                </span>
            </div>
        </form>

        <br>
        
    </div>

</div>

{% endblock %}